*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

header{
    background-color: rgb(245, 164, 52);
}

main{
    background-color: aqua;
    flex: auto;

}

footer{
    background-color: aquamarine;
}